<html>
  <head>
        <link rel="icon" href="img/pic3.png">

    <title>About</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
     <div class="main-content">
        {{>header}}
        <p>This site was created by Vk. It uses data from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="img/pic.jpg">
    </div>
    {{!-- <p>Created by: {{name}}</p> --}}

    {{>footer}}
  </body>
</html>